.createPractice-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
    height: calc(100vh - 80px); /* Subtract the margin-top */
    overflow: hidden; /* Prevent scrolling on the body */
}
.createPractice-title {
    /* margin-top: 85px; */
    font-size: 30px;
    color: #181A52;
    font-family: 'Poppins';
    
}


.practice-config-container{
    width: 80%;
    text-align: left;
    margin-bottom: 1%;
    

}
.practice-select-container{
    display: flex;
    flex-direction: column;
    width: 30%;
    min-width: 180px;
    
    
    

}

.practice-config-container .MuiFormControl-root {
    margin-top: 1.5%;
}

.practice-config-container .MuiInputLabel-root {
    /* background-color: white; Match the background color */
    padding: 0 5px; /* Add some padding */
}

.practice-config-container .MuiSelect-root {
    padding: 10px; /* Match the input padding */
}

.practice-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    border: solid gray 2px;
    border-radius: 15px;
    overflow-y: auto;
    /* margin-bottom: 110px; */
}
.practice-scrollable{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 99%;
    width: 99%;
    overflow-y: auto;

}

.practice-scrollable::-webkit-scrollbar {
    width: 6.5px; /* Width of the scrollbar */
    border-radius: 10px;
    
}

.practice-scrollable::-webkit-scrollbar-track {
    background: none; /* Background of the scrollbar track */
    border-radius: 5px; /* Rounded corners for the track */
    
}

.practice-scrollable::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */

}

.practice-scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}




.practiceQuestionContainer,
.topicContentContainer {
    
    border-radius: 1rem;
    width: 75%;
    min-height: 20vh;
    text-align: justify;
    padding: 1rem;
    margin-top: 1.5%;
    border: solid gray 1px;
}

.topicContentContainer {
    overflow-y: auto;
}

.practiceQuestionContainer {
    min-height: auto;
}

.practiceQuestionContainer .MuiTextField-root {
    margin-bottom: 1.5%;
}

.topicContentContainer:empty:not(:focus)::before {
    content: attr(placeholder);
    color: gray;
}

.practice-content-actions {
    width: 75%;
    text-align: left;
}

@media (max-width: 720px) {
    .practice-select-container{
        width: 100%;
    }
    .createPractice-body .MuiButton-root{
        margin-bottom: 2.5%;
    }
}
