.createTopic-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 2%; 
    height: calc(100vh - 64px); 
    /* padding-top: 64px; */
}

.topic-config-container{
    width: 80%;
    text-align: left;
    margin-bottom: 1%;
    /* border: solid black 1px; */
}

.createTopic-title {
    margin-top: 85px;
    font-size: 30px;
    color: #181A52;
    font-family: 'Poppins';
}

.topic-config-container .MuiTextField-root{
    margin-top: 1.5%;
}

.topic-form-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    border: solid gray 2px;
    border-radius: 15px;
    overflow-y: auto;   /* Works for EditPractice.js */
}

.topic-scrollable{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 99%;
    width: 99%;
    overflow-y: auto;
}

.topic-scrollable::-webkit-scrollbar {
    width: 6.5px; /* Width of the scrollbar */
    border-radius: 10px;
    
}

.topic-scrollable::-webkit-scrollbar-track {
    background: none; /* Background of the scrollbar track */
    border-radius: 5px; /* Rounded corners for the track */
    
}

.topic-scrollable::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */

}

.topic-scrollable::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

.topicQuestionContainer,
.topicContentContainer, 
.topicImageContainer,
.topicStoryBoardContainer,
.topicYoutubeVidContainer,
.topicEmbeddedGameContainer {
    border: solid black 1px;
    border-radius: 1rem;
    width: 75%;
    /* min-height: 25vh; */
    text-align: justify;
    padding: 1rem;
    margin-top: 1.5%;
    height: auto;
}

/* FOR THE CONTENT/PARAGRAPH CONTAINER */
.topicContentContainer:focus{
    border: solid #ffb100;
}

.topicContentContainer{
    overflow-y: auto;
}

/* FOR THE MINI ASSESSMENT CONTAINER */
.topicQuestionContainer{
    min-height: auto;

}

.topicQuestionContainer .MuiTextField-root{
    margin-bottom: 1.5%;
}

.topicContentContainer:empty:not(:focus)::before {
    content: attr(placeholder);
    color: gray; 
}

.topicImageContainer{
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FOR THE IMAGE CONTAINER */
.topicImageWrapper{
    min-width: 70%;
    min-height:70%;
    border: solid black 1px;
    background-color: gainsboro;
    border-radius: 10px;
    border-color: gray;
}

.topicImageWrapper img{
    height: 100%; 
    width: 100%;
    /* aspect-ratio: 1 /1 ; */
    object-fit: contain; 
    margin: 0; 
    padding: 0;
}

/* FOR THE STORYBOARD CONTAINER */
.topicStoryBoardContainer {
    margin-top: 0;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Ensures equal spacing */
    overflow-y: auto;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.topicStoryBoardContainer > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%; /* 50% for a 2x2 layout */
    box-sizing: border-box; /* Ensures the borders don't affect the width */
}

/* For storyboard animation containers */
.box1, .box2, .box3, .box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border: solid black 1px;
}

/* For Youtube Vid Container */
.topicYoutubeVidContainer{
    height: auto;
}

.yt-embeddedVideo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    background-color: #d95775 ;
}

.topicEmbeddedGameContainer{
    margin-top: 0;
    height: auto;
}
/* WRAPPER FOR THE ASSESSMENT CHOICES */
.topic-content-actions{
    /* border: solid black 1px; */
    width: 75%;
    text-align: left;
}

.topic-content-choices {
    margin-top: 1.5%;
    display: flex;
}

@media screen and (max-width: 600px){
    .topic-form-container,
    .topic-config-container{
        width: 95%
    }
    .animation-container{
        background-size: cover;
    }

    .topic-content-choices{
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .topic-content-choices .MuiButton-root{
        margin: 0;
        margin-bottom: 5px;
        width: 50%;
    }

}