.createPractice-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
    height: calc(100vh - 64px);
}

.practice-config-container {
    width: 80%;
    text-align: left;
    margin-bottom: 1%;
}

.practice-config-container .MuiFormControl-root {
    margin-top: 1.5%;
}

.practice-config-container .MuiInputLabel-root {
    background-color: white; /* Match the background color */
    padding: 0 5px; /* Add some padding */
}

.practice-config-container .MuiSelect-root {
    padding: 10px; /* Match the input padding */
}

.practice-form-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 80%;
    border: solid gray 2px;
    border-radius: 15px;
    overflow-y: auto;
}

.practiceQuestionContainer,
.topicContentContainer {
    border: solid black 1px;
    border-radius: 1rem;
    width: 75%;
    min-height: 20vh;
    text-align: justify;
    padding: 1rem;
    margin-top: 1.5%;
}

.topicContentContainer {
    overflow-y: auto;
}

.practiceQuestionContainer {
    min-height: auto;
}

.practiceQuestionContainer .MuiTextField-root {
    margin-bottom: 1.5%;
}

.topicContentContainer:empty:not(:focus)::before {
    content: attr(placeholder);
    color: gray;
}

.topic-content-actions {
    width: 75%;
    text-align: left;
}
