@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.App-home-body{
    background-image: url('../Images/BG2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;  
    position: relative;
    z-index: 1;
}

.Homepage{
    justify-content: center;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.image-buttons{
    align-items: 'center';
    justify-content: 'center';
    margin-top: 4%;
    padding-bottom: 2%;
}


.image-buttons-margin{
    margin-left: 2%;
    margin-right: 2%;
}

.img-button-size{
    height: 450px; 
}

.home-header {
    color: #181A52;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5); /* horizontal offset, vertical offset, blur radius, color */
    padding-top: 5%; /* CHANGED TO padding then 5% -densha*/
    text-align: left;
    margin-left: 11.5%;  /* CHANGED FROM 10% TO 11.5% -RIBO*/
    z-index: 3;
}

.home-paragraph {
    color: #181a52;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-align: left;
    margin-left: 11.5%; /* CHANGED FROM 10% TO 11.5% -RIBO*/
    margin-right: 5%;
    z-index: 3;
}

.image-bg-size {
    height: 300px;
}

.container {
    position: relative; /* Establishes the positioning context for absolutely positioned children */
}

.box {
    position: absolute; /* Positions the boxes relative to their containing element */
    width: 100%;
    height: 200px;
    padding: 20px;
}


/* effects -densha */
.image-buttons-margin:hover img{
    transform: scale(1.05);
    transition: transform; 
}

.button:hover img {
    transform: scale(1.05); 
    transition: transform; 
}

@media (max-width: 1024px){
    .image-buttons{
        align-items: 'center';
        justify-content: 'center';
        margin-top: 4%;
    }

    .img-button-size{
        height: 350px; 
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5); /* horizontal offset, vertical offset, blur radius, color */
        padding-top: 7%; /* changed to padding and 7%*/
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        text-align: left;
        margin-left: 8%;
    }

    .image-buttons-margin{
        margin-left: 2px;
        margin-right: 2px;
    }

    /* effects -densha */
    .image-buttons-margin:hover img{
        transform: scale(1.05);
        transition: transform; 
    }

    .button:hover img {
        transform: scale(1.05); 
        transition: transform; 
    }
}

@media (max-width: 768px){
    .nav-bar{
        position: fixed; /* or sticky */
        width: 100%; /* Ensure the navbar takes up the full width */
        z-index: 1000; /* Ensure the navbar is above other content */
        background-color: #ffb100;
    }

    .img-button-size{
        height: 300px; 
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 35px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5); /* horizontal offset, vertical offset, blur radius, color */
        padding-top: 9%; /* changed to padding */
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-left: 8%;
    }

    .image-buttons-margin{
        margin-left: 2px;
        margin-right: 2px;
    }

    /* effects -densha */
    .image-buttons-margin:hover img{
        transform: scale(1.05);
        transition: transform; 
    }

    .button:hover img {
        transform: scale(1.05); 
        transition: transform; 
    }
}

@media (max-width: 600px) {
    /* Adjustments for smaller screens */
    .app-bar-logo {
        height: 60px; /* Reduce the height of the logo */
    }
    
    .nav-buttons {
        flex-direction: column; /* Display navigation buttons vertically */
        align-items: center; /* Center-align navigation buttons */
        margin-top: 20px; /* Add some margin from the top */
        display: none;
    }
    
    .nav-buttons button {
        margin: 1px 0; /* Add some vertical margin between navigation buttons */
        display: none;
    }

    .image-buttons {
        flex-direction: column; /* Display image buttons vertically */
        align-items: center; /* Center-align image buttons */
        margin-top: 20px; /* Add some margin from the top */
    }

    .image-buttons button {
        margin: 5px 0; /* Add some vertical margin between image buttons */
    }

    /* CHANGED TO 350 FROM 250 -RIBO*/
    .img-button-size{
        height: 350px; 
    }

    /* CHANGED TO 200 FROM 100  -RIBO*/
    .image-bg-size {
        height: 200px;
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5); /* horizontal offset, vertical offset, blur radius, color */
        padding-top: 15%; /* changed to padding and to 15%*/
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-left: 8%;
        margin-right: 5%;
    }

    /* effects -densha */
    .image-buttons-margin:hover img{
        transform: scale(1.05);
        transition: transform; 
    }

    .button:hover img {
        transform: scale(1.05); 
        transition: transform; 
    }
}



