@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

/* Keyframes for tilted shake animation */
@keyframes tilt-shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

@keyframes pull-up {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.App-home-body {
    position: relative;
    z-index: 1;
    overflow: hidden; /* Ensure pseudo-element does not overflow */
}

.App-home-body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../Images/BG2.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
    opacity: 0.85; /* Adjust the opacity of the background image */
    z-index: -1; /* Place it behind the content */
}

.Homepage {
    justify-content: center;
    min-height: 100vh;
    z-index: 2;
    position: relative;
}

.image-buttons {
    align-items: center;
    justify-content: center;
    margin-top: 4%;
    padding-bottom: 2%;
}

.image-buttons-margin {
    margin-left: 2%;
    margin-right: 2%;
}

.img-button-size {
    height: 450px; 
}

.home-header {
    color: #181A52;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 50px;
    text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5);
    padding-top: 5%;
    text-align: left;
    margin-left: 11.5%;
    z-index: 3;
    animation: pull-up 1s ease-out; /* Apply the pull-up animation */
}

.home-paragraph {
    color: #181a52;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    text-align: left;
    margin-left: 11.5%;
    margin-right: 5%;
    z-index: 3;
}

.image-bg-size {
    height: 300px;
}

.container {
    position: relative;
}

.box {
    position: absolute;
    width: 100%;
    height: 200px;
    padding: 20px;
}

/* Hover effects with tilted shake animation */
.image-buttons-margin:hover img {
    animation: tilt-shake 0.5s ease-in-out;
}

.button:hover img {
    animation: tilt-shake 0.5s ease-in-out;
}

@media (max-width: 1024px) {
    .image-buttons {
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }

    .img-button-size {
        height: 350px; 
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 40px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5);
        padding-top: 7%;
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        text-align: left;
        margin-left: 8%;
    }

    .image-buttons-margin {
        margin-left: 2px;
        margin-right: 2px;
    }

    .image-buttons-margin:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }

    .button:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }
}

@media (max-width: 768px) {
    .nav-bar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        background-color: #ffb100;
    }

    .img-button-size {
        height: 300px; 
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 35px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5);
        padding-top: 9%;
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-left: 8%;
    }

    .image-buttons-margin {
        margin-left: 2px;
        margin-right: 2px;
    }

    .image-buttons-margin:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }

    .button:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }
}

@media (max-width: 600px) {
    .app-bar-logo {
        height: 60px;
    }
    
    .nav-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        display: none;
    }
    
    .nav-buttons button {
        margin: 1px 0;
        display: none;
    }

    .image-buttons {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .image-buttons button {
        margin: 5px 0;
    }

    .img-button-size {
        height: 350px; 
    }

    .image-bg-size {
        height: 200px;
    }

    .home-header {
        color: #181A52;
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        font-size: 30px;
        text-shadow: 2px 2px 5px rgba(24, 26, 82, 0.5);
        padding-top: 15%;
        text-align: left;
        margin-left: 8%;
    }
    
    .home-paragraph {
        color: #181a52;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        text-align: left;
        margin-left: 8%;
        margin-right: 5%;
    }

    .image-buttons-margin:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }

    .button:hover img {
        animation: tilt-shake 0.5s ease-in-out;
    }
}
