
@font-face {
  font-family: 'Poppins';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

.body {
    color: #181A52;
    background-image: url('../Images/BG2.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;  
    overflow-x: hidden;
}

/* HEADER CONTAINER */

.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  height: 60vh;
  border: none;
  border-radius: 120px;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0.6);
  border: 12px solid #181A52;
}

.content-left-side, .content-right-side{
  display: flex;
  align-items: center;
  width: 100%;
}

.content-left-side {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  object-fit: contain; 
  margin: 0; 
  padding: 0;
}

.content-right-side{
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 40%;
}

.right-side-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: right;
  width: 100%;
  /* border: solid black 1px; */
  height: 70%;
}

.right-side-text p {
    font-family: 'Poppins';
    margin: auto 0;
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-weight: 700;
    width: max-content;
}

.right-side-desc {
    font-family: 'Poppins';
    font-size: clamp(0.9rem, 1.25vw, 1.25rem);
    text-align: justify;
    margin-top: 1.5%;
    word-break: break-word; 
    overflow-wrap: break-word; 
}

/* SECTION CONTINER */

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.section-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  height: 60vh;
  border: none;
  border-radius: 55px;
  backdrop-filter: blur(4px);
  padding: 3%;
  border-radius: 120px;
}

.section-content-left-side, .section-content-right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 100%;
}

.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 70%;
}

.section-header-container p {
  font-family: 'Poppins';
  margin: auto 0;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: clamp(2rem, 4.5vw, 5rem);
  font-weight: 600;
  width: max-content;
}

.section-content-desc {
  font-family: 'Poppins';
  font-size: clamp(0.9rem, 1.25vw, 1.25rem);
  padding: 5%;
  padding-top: 0;
  text-align: justify;
  margin-top: 1.5%;
  word-break: break-word; 
  overflow-wrap: break-word; 
}

.section-content-image {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  object-fit: contain; 
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
    .landing-wrapper, 
    .content-container, 
    .section-wrapper, 
    .section-content-container {
        flex-direction: column;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        border-radius: none;
    }

    .section-content-container {
        width: 90%;
        padding: 5%;
        border-radius: 0;
        margin-top: 50px;
    }

    .content-left-side, .content-right-side,
    .section-content-left-side, .section-content-right-side {
        width: 100%;
    }

    .section-content-image {
      justify-content: center;
      max-width: 100%;
      height: auto;
    }

    div:has(.section-content-image) {
      order: 2; /* Makes sure that the image is always below the text https://caniuse.com/css-has  */
    }

    .section-header-container {
      padding-top: 10%;
    }

    .right-side-text p, .section-header-container p {
        font-size: 3rem;
    }

    .right-side-desc, .section-content-desc {
        font-size: 1rem;
    }

    .body {
        background-size: cover;
        background-attachment: fixed;
    }
}

@keyframes boxReveal {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeinup {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}