
@font-face {
  font-family: 'Poppins';
  src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

.body {
    color: #181A52;
    background-image: url('../Images/BG2.png');
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;  
    overflow-x: hidden;
}

/* HEADER CONTAINER */

.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.content-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 70%;
  height: 60vh;
  border: none;
  border-radius: 70px;
  padding: 3%;
  background-color: rgba(255, 255, 255, 0);
}

.content-left-side, .content-right-side{
  display: flex;
  align-items: center;
  width: 100%;
}

.content-left-side {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  overflow: hidden; 
  object-fit: contain; 
  margin: 2%; 
  padding: 0;
}

.content-right-side{
  flex-direction: column;
  justify-content: left;
  text-align: left;
  width: 40%;
}

.right-side-text {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: right;
  width: 100%;
  height: 70%;
}

.right-side-text p {
    font-family: 'Poppins';
    margin: auto 0;
    font-size: clamp(2rem, 4.5vw, 5rem);
    font-weight: 700;
    width: max-content;
}

.right-side-desc {
    font-family: 'Poppins';
    font-size: clamp(0.9rem, 1.25vw, 1.25rem);
    text-align: justify;
    margin-top: 1.5%;
    word-break: break-word; 
    overflow-wrap: break-word; 
}

/* SECTION CONTINER */

.section-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 80vh;
}

.section-content-container {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100vh;
  width: 70%;
  height: 60vh;
  border: none;
  border-radius: 70px;
  backdrop-filter: blur(3px);
  padding: 3%;
}

.section-content-left-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 130%;
  height: 100%;
  border: 10px solid;
  border-radius: 70px;
  background: transparent; 
}

.image-bg-yellow {
  background-color: rgba(249, 181, 80, 0.8);
  border-color: rgba(249, 181, 80);
}

.image-bg-purple {
  background-color: rgba(179, 157, 219, 0.8);
  border-color: rgb(179, 157, 219);
}

.image-bg-green {
  background-color: rgba(153, 198, 126, 0.8);
  border-color: rgb(153, 198, 126);
}

.section-content-right-side {
  display: flex;
  margin-left: 3.5%;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.section-header-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
  height: 100%;
}

.section-header-container p {
  font-family: 'Poppins';
  margin: auto 0;
  padding: 5%;
  padding-top: 0;
  padding-bottom: 0;
  font-size: clamp(1.8rem, 4vw, 4.5rem);
  font-weight: 600;
  width: max-content;
}

.section-content-desc {
  font-family: 'Poppins';
  margin: auto 0;
  font-size: clamp(0.9rem, 1.25vw, 1.25rem);
  padding: 5%;
  padding-top: 0;
  text-align: justify;
  margin-top: 1.5%;
  word-break: break-word; 
  overflow-wrap: break-word; 
}

.section-content-image {
  justify-content: center;
  align-content: center;
}

.gif-class {
  width: 90%;
  height: 100%;
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.gif-class:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in;
}

@media (max-width: 768px) {
    .landing-wrapper, 
    .content-container, 
    .section-wrapper, 
    .section-content-container {
        flex-direction: column;
        border: none;
        background-color: rgba(255, 255, 255, 0);
        border-radius: none;
    }

    .section-content-container {
        width: 90%;
        padding: 5%;
        border-radius: 0;
        margin-top: 50px;
    }

    .content-left-side {
        border: none;
        border-radius: 0;
        margin: 50%;
    }

    .content-right-side {
      border: none;
      border-radius: 0;
      margin: 0%;
    }

    .section-content-left-side {
      display: flex;
      border: none;
      border-radius: 0;
      margin: 0%;
      padding: 0%;
      align-items: baseline;
      background: none;
      width: 90%;

    }

    .section-content-right-side {
      border: none;
      border-radius: 0;
      margin: 0%;
      padding: 0%;
    }

    .section-content-image {
      justify-content: center;
      max-width: 100%;
      border-radius: 0; 
  }

    .gif-class:hover {
      transform: none;
      transition: none;
    }

    .component-response {
      width: 55%;
    }

    .lottie-animation {
      display: none;
    }

    div:has(.section-content-image) {
      order: 2; /* Makes sure that the image is always below the text https://caniuse.com/css-has  */
    }

    .section-header-container {
      padding-top: 0;
    }

    .right-side-text p, .section-header-container p {
        font-size: 3rem;
    }

    .right-side-desc, .section-content-desc {
        font-size: 1rem;
    }

    .body {
        background-size: cover;
        background-attachment: fixed;
    }
}

@keyframes boxReveal {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0);
  }
}

@keyframes fadeinup {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}