.App-lessons-body{
    background-image: url('../Images/BG3.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;  
    position: relative;
    z-index: 1;
}
