@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.topic-number{
    font-family: 'Poppins', 'sans serif';
    color: #181A52;
}

.topic-title{
    font-family: 'Poppins', 'sans serif';
    color: #181A52;
    font-size: '50px';
    font-weight: 'bold';
}

.accordion-details{
    border-radius: 10px;
    padding: 15px;
    margin-top: 13px;
}

/* Arrow bounce or pointing animation */
@keyframes arrowBounce {
  0%, 100% {
    transform: translateX(0); /* Start pointing towards the button */
  }
  50% {
    transform: translateX(-15px); /* Moves slightly left as if pointing */
  }
}

.arrow {
  color: #181A52;
  font-size: 6rem;
  animation: arrowBounce 1s ease-in-out infinite; /* Apply the bounce animation */
}
