@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

.lessonProgressPage { 
    background-image: url('../Images/BG3.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; /* Ensure no repeat */
    background-color: #f0f0f0; /* Fallback color */
    margin-top: 80px;
    height: calc(100vh - 80px); /* Subtract the margin-top */

}

.body {
    background-attachment: fixed;
    min-height: 100vh;
   
}

.lessprog-profile-wrapper,
.lessprog-profile-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
}

.lessprog-profile-content-container{
    width: 70%;
    height: 60vh;
    /*background-color: #FAFAFA;*/
    padding: 2.5%;
 
  
    
}

.lessprog-personalinfo-right-side,
.lessprog-personalinfo-left-side{
    display: flex;
    height: 100%;
 
}
.lessprog-personalinfo-right-side{
    flex-direction: column;
    width: 65%;
    /*overflow-y: auto;*/
   
 
}
.lessprog-personalinfo-left-side{
    display: flex;
    width: 35%;
    
}
.lessprog-PI-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: #F6E6C3;  
    box-shadow: 0px 3px rgba(184, 184, 184, 0.75);
    border-radius: 25px;  
 
}
.lessprog-PI-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
    color: #181A52;
    width: 100%;
    height: 20%;

}

.lesprog-lessons-scrollable-container {
    overflow-y: auto;
    max-height: 80vh; /* Adjust this value based on your layout */
 
}

/* Styling the scrollbar for Firefox */
.lesprog-lessons-scrollable-container {
    scrollbar-width: thick; /* Thin scrollbar */
    scrollbar-color: #888 #F6E6C3; /* Thumb and track colors */
    height: 45vh;
    margin-right: 2px;
  
}

.lesprog-lesson-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #Ffb100;
    padding: 20px;
    margin: 10px 0;
    border-radius: 25px;
    width: 94%;
    
}

.lesprog-lesson-title {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    color: #181A52;
    margin-bottom: 10px;
}

.lesprog-progress-bar-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.progress-percentage {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #181A52;
}

.lesprog-lessons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    margin: 0% 0% 1% 3.3%;
 
}


@media (max-width: 1024px) {
    .lessprog-profile-content-container {
        width: 90%;
    }
    .lesprog-lessons-scrollable-container {
        height: 100%;
    }
    /* KARI */
}

@media (max-width: 768px) {/* KARI */
    .lessprog-profile-content-container {
        flex-direction: column;
        height: 150vh;
        width: 100%;
    }
    .lessprog-personalinfo-left-side {
        height: 100%;
        width: 100%;
        align-items: end;
    }
    .lessprog-personalinfo-right-side {
        margin-top: 50px;
        width: 100%;
    }
    .lessprog-PI-title-lesson {
        font-size: 25px;
    }
    .lessprog-PI-container-lesson {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: #F6E6C3;
        box-shadow: 0px 3px rgba(184, 184, 184, 0.75);
        border-radius: 25px;
    }
    .lessprog-personalinfo-right-side-lesson {
        margin-top: 50px;
        width: 100%;
    }
   
}
@media (max-width: 768px) {
    .lessprog-personalinfo-left-side {
        height: 10%;
        width: 100%;
        align-items: end;
    }

    .lesprog-lessons-scrollable-container {
        overflow-y: auto;
        max-height: 100vh; /* Adjust this value based on your layout */
     
    }
}

/*i rename lang ni rad kay maguba tungod same same silag classname*/