@font-face {
    font-family: 'Poppins';
    src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

.lessonProgressPage { 
    background-image: url('../Images/BG3.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #f0f0f0; /* Fallback color */
    margin-top: 80px;
    height: calc(100vh - 80px);
}

.body {
    background-attachment: fixed;
    min-height: 100vh;
}

.lessprog-profile-wrapper,
.lessprog-profile-content-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    /*border: solid yellow;*/
}

.lesprog-lessons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    border-radius: 15px;
    width: 100%;
    /*border: solid blue;*/
}

.lessprog-profile-content-container {
    width: 100%;
    height: auto;
    /*border: solid red;*/
}

.lessprog-personalinfo-right-side {
    flex-direction: column;
    width: 100%;
}

.lessprog-personalinfo-left-side {
    display: flex;
    width: 35%;
}

.lessprog-PI-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.lessprog-PI-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 900;
    color: #181A52;
    width: 100%;
    height: 20%;
}

.lesprog-lessons-scrollable-container {
    overflow-y: auto;
    max-height: 80vh;
    width: 100%;
    height: 100%;
    scrollbar-width: thick;
}

.lesprog-lesson-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: rgba(255, 177, 0, 0.5);
    padding: 20px;
    margin: 7px 0;
    border-radius: 25px;
    width: 35vw;
    /*border: solid pink;*/
}

.lesprog-lesson-title {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 700;
    color: #181A52;
    margin-bottom: 10px;
    text-align: left;
}

.lesprog-progress-bar-wrapper {
    width: 100%;
    margin-bottom: 10px;
}

.lesprog-lesson-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

.lesprog-progress-percentage{
    font-size: 1rem;
    color: #181A52;
    margin-left: auto; /* This pushes the percentage to the far right */
}

@media (max-width: 1024px) {
    .lessprog-profile-content-container {
        height: auto;
        width: 100%;
        
    }
}

@media (max-width: 768px) {
    .lessprog-profile-content-container {
        flex-direction: column;
        height: auto;
        /*border: solid red;*/
        width: 80vw;
    }

    .lesprog-lesson-container {
        width: auto;
    }
}

@media (max-width: 450px){
    .lessprog-profile-content-container {
        height: auto;
        width: 100%;
    }

    .lesprog-lessons-wrapper{
        width: 80vw;
        /*border: solid purple;*/
    }
}