/* Variable name for identifying loader variable == lxx or lxx-x */

.loading-body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-container{
    height: 10%;
}

.loading-fun-facts{
    margin-top: 1.5%;
}

/* FIRST ANIMATION OPTION*/

.loader1 {
    --c: no-repeat linear-gradient(orange 0 0);
    background: 
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c),
        var(--c), var(--c), var(--c);
    background-size: 16px 16px;
    animation: 
        l32-1 1s infinite,
        l32-2 1s infinite;
}

@keyframes l32-1 {
    0%, 100% { width: 45px; height: 45px; }
    35%, 65% { width: 65px; height: 65px; }
}

@keyframes l32-2 {
    0%, 40% { background-position: 0 0, 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 50% 50%; }
    60%, 100% { background-position: 0 50%, 0 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0, 50% 0, 0 0, 50% 50%; }
}

/* SECOND ANIMATION OPTION*/
.loader2 {
    width: 50px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background: conic-gradient(#25b09b 25%,#f03355 0 50%,#514b82 0 75%,#ffa516 0);
    animation: l22 2s infinite linear;
}

.loader2::before,
.loader2::after {
    content: "";
    grid-area: 1/1;
    margin: 15%;
    border-radius: 50%;
    background: inherit;
    animation: inherit;
}

.loader2::after {
    margin: 25%;
    animation-duration: 3s;
}

@keyframes l22 {
    100% {transform: rotate(1turn)}
}


/* THIRD ANIMATION OPTION */
.loader3 {
    width: 40px;
    height: 20px;
    background: orange;
    position: relative;
    animation: l9-0 1.5s infinite linear;
}

.loader3:before,
.loader3:after {
    content:"";
    position: absolute;
    background: inherit; 
    bottom: 100%;
    width: 50%;
    height: 100%;
    animation: inherit;
    animation-name: l9-1;
}

.loader3:before {
left: 0;
transform-origin: bottom left;
--s:-1;
}

.loader3:after {
right: 0;
transform-origin: bottom right;
}

@keyframes l9-0 {
    0%,10%   {transform:translateY(0%)    scaleY(1)}
    49.99%   {transform:translateY(-50%)  scaleY(1)}
    50%      {transform:translateY(-50%)  scaleY(-1)}
    90%,100% {transform:translateY(-100%) scaleY(-1)}
}

@keyframes l9-1 {
    10%,90% {transform: rotate(0deg)}
    50%     {transform: rotate(calc(var(--s,1)*180deg))}
}


