@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-left-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 70%;
    min-height: 100vh;
    /* border: solid black 1px; */
}


.login-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    min-height: 100vh;
    /* border: solid black 1px; */
    background-color: rgba(255, 177, 0, 0.4);     
}

.login-right-side > *{
    font-family: 'Poppins', sans-serif;
    width: 60%;
    /* border: solid black 1px; */
}

.login-logo-container{
    height: 20vh;
}

.login-logo-container img{
    max-width: 100%;
    max-height: 100%;
}

.login-txtField{
    width: 100%;
    /* border: solid black 1px; */
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.login-bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    min-height: 70vh;
    width: 70%;
    margin-top: 1.5%;
}

.login-bg-container img{
    max-width: 100%;
    max-height: 100%;
    transition: transform 0.2s ease;
}

.login-bg-container img:active {
    animation: wiggle 0.5s ease;
}

@keyframes wiggle {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

.forgot-password-text-container{
    /* border: solid black 1px; */
    font-size: 0.70rem;
    text-align: right;
    font-weight: 700;
    color: #181A52;
    
}

.forgot-password-text-container p{
    /* border: solid black 1px; */
    margin: auto 0;
    width: auto;
    float: right;
    cursor: pointer;
}


.forgot-password-text-container p:hover{
    transform: scale(1);
    border-bottom-width: 1px; 
    border-bottom-style: solid;
}

.login-back-btn{
    margin: 0 auto;
    width: 90%;
    text-align: left;
    /* border: solid black 1px; */
}

.login-back-btn .MuiSvgIcon-root {
    color: rgba(255, 177, 0, 0.8);
    font-size: 3rem;
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out; 
}

.login-back-icon:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.2); 
}



@media (max-width: 1024px){
    .login-right-side{
        min-width: 35%;    
    }

    .login-left-side{
        min-width: 65%;
    }

}

@media (max-width: 768px){
    .login-right-side{
        min-width: 40%;
        
    }

    .login-left-side{
        min-width: 60%;
    }

    .back-btn .MuiSvgIcon-root {
        font-size: 2rem;       
    }

}

@media (max-width: 600px){
    .login-right-side{
        min-width: 100%;
        background-color: rgba(255, 177, 0, 0.4);
    }

    .login-right-side > *{
        width: 85%;
    }

    .login-left-side{
        display: none;
    }

    .forgot-password-modal{
        width: 10%;
    }

}


