.Login{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 70vw;
    min-height: 100vh;
    /* border: solid black 1px;   */
}

.login-right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30vw;
    min-height: 100vh;
    /* border: solid black 1px; */
    background-color: rgba(255, 177, 0, 0.4);     
}

.login-right-side > *{
    width: 60%;
    /* border: solid black 1px; */
}

.login-logo-container{
    height: 20vh;
}

.login-logo-container img{
    max-width: 100%;
    max-height: 100%;
}

.login-txtField{
    width: 100%;
    /* border: solid black 1px; */
    margin-top: 3.5%;
    margin-bottom: 3.5%;
}

.login-bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: solid black 1px; */
    min-height: 70vh;
    width: 70%;
}

.login-bg-container img{
    max-width: 100%;
    max-height: 100%;
}

.forgot-password-text-container{
    /* border: solid black 1px; */
    font-size: 0.70rem;
    text-align: right;
    font-weight: 700;
    color: #181A52;
    
}

.forgot-password-text-container p{
    /* border: solid black 1px; */
    margin: auto 0;
    width: auto;
    float: right;
    cursor: pointer;
}


.forgot-password-text-container p:hover{
    transform: scale(1);
    border-bottom-width: 1px; 
    border-bottom-style: solid;
}


@media (max-width: 1024px){
    .login-right-side{
        min-width: 35vw;    
    }

    .login-left-side{
        min-width: 65vw;
    }

}

@media (max-width: 768px){
    .login-right-side{
        min-width: 40vw;
        
    }

    .login-left-side{
        min-width: 60vw;
    }

}

@media (max-width: 600px){
    .login-right-side{
        min-width: 100vw;
        background-color: rgba(255, 177, 0, 0.4);
    }

    .login-right-side > *{
        width: 85%;
    }

    .login-left-side{
        display: none;
    }

    .forgot-password-modal{
        width: 10%;
    }

}


