@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.lesson-number{
    font-family: 'Poppins', 'sans serif';
    color: #181A52;
}

.lesson-title{
    font-family: 'Poppins', 'sans serif';
    color: #181A52;
    font-size: '50px';
    font-weight: 'bold';
}

.accordion-details{
    border-radius: 10px;
    padding: 15px;
    margin-top: 13px;
}

.lesson-list{
    margin-top:1%;
    margin-bottom: 4%; 
}

@media (max-width: 1024px){
    .lesson-list{
        margin-top:4%; 
    }
}

@media (max-width: 768px){
    .lesson-list{
        margin-top:4%; 
    }
}

@media (max-width: 600px) {
    .lesson-list{
        margin-top:10%; 
    }

}