.choicess-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 80%;
    height: 45%;
    box-shadow: 0px 3px rgba(184, 184, 184, 0.9);
    border-radius: 25px;
    background-color: #F6E6C3;
}
.Persona-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
    width: 85%;
    height: 35%;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #F94848;
    margin-top: 1%;
}
.Persona-button:hover {
    transform: scale(1.08); 
}
.Persona-button:active {
    transform: scale(0.9); 
}
.Dashboard-button,
.LessonProgress-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 35%;
    background-color: #518BBC;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 0px 0px 20px 20px;
}

.Dashboard-button{
    background-color: #518BBC;
}

.Dashboard-button:hover {
    transform: scale(1.08); 
}
.Dashboard-button:active {
    transform: scale(0.9); 
}

.LessonProgress-button:hover {
    transform: scale(1.08); 
}
.LessonProgress-button:active {
    transform: scale(0.9); 
}
.Badgess-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 25%;
    border-radius: 0px 0px 20px 20px;
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
    background-color: #4CAE4F;
    margin-bottom: 5%;
}
.Badgess-button:hover {
    transform: scale(1.08); 
}
.Badgess-button:active {
    transform: scale(0.9); 
}
@media (max-width: 1024px) {

    .choicess-container{
        width: 90%;
    }
}

@media (max-width: 768px) {

    .choicess-container{
        flex-direction: column;
        height: auto;
        width: 100%; 
        border-radius:13px;
        padding-top: 1%;
        padding-bottom: 2%;
    }
    .Persona-button{
        width: 90%;
        height: 65%;
        font-size: 18px;
        border-radius:8px;
        /* margin-left: 10px; */
        padding: 5px;
    }

    .Dashboard-button{
        width: 90%;
        height: 65%;
        font-size: 18px;
        border-radius:8px;
        padding: 5px;
    }

    .LessonProgress-button{
        width: 90%;
        height: 65%;
        font-size: 18px;
        border-radius:8px;
        padding: 5px;
    }
    .Badgess-button{
        width: 90%;
        height: 65%;
        font-size: 18px;
        border-radius:8px;
        /* margin-right: 10px; */
        padding: 5px;
    }
}
