.choicess-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    width: 80%;
    height: 60%;
    box-shadow: 0px 3px rgba(184, 184, 184, 0.9);
    border-radius: 25px;
    background-color: #F6E6C3;    
}
.PI-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25%;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.PI-button:hover {
    transform: scale(1.08); 
}
.PI-button:active {
    transform: scale(0.9); 
}
.LessonProg-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 25%;
    background-color: #518BBC;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.LessonProg-button:hover {
    transform: scale(1.08); 
}
.LessonProg-button:active {
    transform: scale(0.9); 
}
.Badges-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 25%;
    border-radius: 0px 0px 25px 25px;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;   
    color: #181A52;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.Badges-button:hover {
    transform: scale(1.08); 
}
.Badges-button:active {
    transform: scale(0.9); 
}
@media (max-width: 1024px) {

    .choicess-container{
        width: 90%;
    }
}

@media (max-width: 768px) {

    .choicess-container{
        height: 100%;
        width: 70%; 
    }


}
